<div *ngIf="isLoadingResults">
    <div class="spinner">
        <mat-spinner></mat-spinner>
        <div style="padding: 3%;">
            Cargando Datos .... Por favor espere
        </div>
    </div>
    <div class="loading-shade"></div>
</div>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>SyR Propiedades</span>
    </mat-toolbar-row>
  
</mat-toolbar>

<div class="main-content">
  <form>
      <mat-form-field>
          <mat-select name="state"  (ngModelChange)="handleStateChange($event)" placeholder="Región" [formControl]="stateSelected">
              <mat-option  *ngFor="let state of listaStates" [value]="state">
                  {{ state.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-select name="city" placeholder="Comuna" [(ngModel)]="city" [formControl]="citySelected">
              <mat-option  *ngFor="let city of listaCities" [value]="city">
                  {{ city.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-select name="tipoVivienda" (ngModelChange)="handleViviendaChange($event)"  placeholder="Tipo Vivienda" [formControl]="tipoViviendaSelected">
              <mat-option  *ngFor="let tipo of tiposVivienda" [value]="tipo">
                  {{ tipo.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-select name="tipoOperacion" (ngModelChange)="handleOperacionChange($event)" placeholder="Operación" [formControl]="tipoOperacionSelected">
              <mat-option  *ngFor="let tipo of tiposOperacion" [value]="tipo">
                  {{ tipo.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
          <mat-select name="tipoEstado"  placeholder="Tipo" [formControl]="tipoEstadoSelected">
              <mat-option  *ngFor="let tipo of tiposEstado" [value]="tipo">
                  {{ tipo.name }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
            <input matInput name="fechaInicio" [matDatepicker]="initPicker" placeholder="Fecha publicación más antigua" [formControl]="fechaInicioSelected" [(ngModel)]="fechaInicio" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="initPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi  #initPicker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-form-field>
            <input matInput name="fechaFin" [matDatepicker]="endPicker" placeholder="Fecha publicación más reciente" [formControl]="fechaFinSelected" [(ngModel)]="fechaFin" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #endPicker></mat-datepicker>
        </mat-form-field>
  </form>
</div>

<div class="action">
        <button mat-raised-button color="primary" (click)="sendDataToBackend()">Iniciar</button>
</div>


